{% load static %}
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            {% for product in productView %}
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">

                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"
                                                                          class="img-fluid" alt="Image"></a>
                        </div>
                        <div class="why-text">
                            <h3>{{ product.brand }}</h3>
                            <h3>{{ product.name }}</h3>
                            <h4>{{ product.detail }}</h4>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>