body ,html{
    padding-top: 5px;
    /*background: url("../image/body/dandelion-back.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*overflow-x: hidden;*/
    height: auto;
    width: 100%;
    direction: rtl;
}

.icon-search{
    float: right;
    position: relative;
    font-size: 24px;
    color: #333;
    z-index: 999;
}
.icon-search i {
    transition: all ease 0.5s;
}
.icon-search .fa-times{
    color: #fff;
}
.search-form{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

.search-form input{
    width: 50%;
    margin: 0 auto;
    display: block;
    border: none;
    color: #fff;
    background-color:black;
    text-align: center;
    font-size: 24px;
    outline: none;
}
