.hr_line{
    color: #010101;
    border-bottom: #01010155 1px solid;
    height:40px;
}

.div_Col3{
    word-break: break-all;
    height: 100%;
}
.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #10a2ff;
    cursor:pointer;
}

.all:hover {
    background-color:yellow;
    color: #FFFFFF;
}

.sell:hover {
    background-color:gold;
    color: #FFFFFF;
}

.seen:hover {
    background-color:goldenrod;
    color: #FFFFFF;
}

aside{
    position: absolute;
}
.thumbnail{
	width: 100%;
	height: auto;

}
/*.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{*/
/*	margin-top: 10px;*/
/*}*/
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.product{
	border-radius: 0 0 4px 4px;
}
.btn{
	border-radius: 0;
}