
.se-co-bo {
    background-color: #EEECEC;
    border: 1px solid #EEECEC;
}

.se-co-bo-bot {
    background-color: #DFDEDE;
    border-bottom: 1px solid #D3D3D3;
}

.height-size {
    height: 60px;
}

.description-height {
    height: 80px;
}

.comment-height {
    height: 110px;
}

.img-size {
    width: 100%;
    height: auto;
}

.border-bottom {
    border-bottom: 1px solid darkblue;
}

.sm-width {
    width: 50px;
}

.small-img {
    width: 50px;
    height: auto;
}

/*related product */
.rel_pro_img_size {
    height: 250px !important;
    width: auto !important;
}


.commententries .reply p span {
    color: #989191;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}

.commententries .reply p span i {
    color: #989191;
    margin-right: 10px;
}

.comment_text {
      direction: rtl;
    height: 50px;
    width:100%;
    border-radius: 15px;
}

.comment_button {
    width: 25%;
    margin: auto;
    border-radius: 25px;
    background-color: #10a2ff;
}