/*.card {*/
/*    margin: auto;*/
/*    padding: 20px;*/
/*    border-radius: 15px;*/
/*    margin-top: 50px;*/
/*    margin-bottom: 50px*/
/*}*/

fieldset.active {
    display: block !important
}

fieldset {
    display: none
}

.pic0 {
    width: 100%;
    height: auto;
    margin-left: 85px;
    margin-right: auto;
    display: block
}

/*.product-pic {*/
/*    padding-left: auto;*/
/*    padding-right: auto;*/
/*    width: 100%*/
/*}*/

.thumbnails {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.tb {
    width: 72px;
    height: 72px;
    border: 1px solid grey;
    margin: 2px;
    opacity: 0.4;
    cursor: pointer
}

.tb-active {
    opacity: 1
}

/*.thumbnail-img {*/
/*    width: 70px;*/
/*    height: 70px*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
/*    .thumbnail-img .tb{*/
/*    width: 70px;*/
/*    height: 70px*/
/*}*/
/*}*/
/*@media screen and (max-width: 992px) {*/
/*    .thumbnail-img .tb{*/
/*    width: 50px;*/
/*    height: 50px*/
/*}*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*    .thumbnail-img .tb{*/
/*    width: 70px;*/
/*    height: 70px*/
/*}*/
/*}*/
/*@media screen and (max-width: 540px) {*/
/*    .thumbnail-img .tb{*/
/*    width: 50px;*/
/*    height: 50px*/
/*}*/
/*}*/