{% extends 'base/base.html' %}
{% load static %}

{% block profileStyle %}
    <link rel="stylesheet" href="{% static 'css/profileStyle.css' %}">
{% endblock %}
{% block content %}

    <div id="wrapper" class="wide-wrap">
        <div class="offcanvas-overlay"></div>
        <div class="heading-container">
            <div class="container heading-standar">
                <div class="page-breadcrumb">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'homeView' %}" class="home"><span>Home</span></a></li>
                        <li>Product</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 main-wrap">
                        <div class="main-content">
                            <div class="vc_row vc_row-fluid">
                                <div class="vc_col-sm-12">
                                    <div class="commerce">
                                        <div class="single-product">
                                            <div class="style-1 product">
                                                <div class="row summary-container">
                                                    <div class="col-md-6 col-sm-6 entry-image">
                                                        <div class="single-product-images">
                                                            <div class="single-product-images-slider">
                                                                <div class="caroufredsel product-images-slider"
                                                                     data-synchronise=".single-product-images-slider-synchronise"
                                                                     data-scrollduration="500" data-height="variable"
                                                                     data-scroll-fx="none" data-visible="1"
                                                                     data-circular="1" data-responsive="1">
                                                                    <div class="caroufredsel-wrap">
                                                                        <ul class="caroufredsel-items">
                                                                            <li class="caroufredsel-item">
                                                                                <a href="{{ product.image.url }}"
                                                                                   data-rel="magnific-popup-verticalfit"
                                                                                   title="Product-5">
                                                                                    <img width="800" height="800"
                                                                                         src="{{ product.image.url }}"
                                                                                         alt="Product-5"/>
                                                                                </a>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="{{ product.image.url }}"
                                                                                       data-rel="magnific-popup-verticalfit">
                                                                                        <img width="800" height="800"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="{{ product.image.url }}"
                                                                                       data-rel="magnific-popup-verticalfit">
                                                                                        <img width="800" height="800"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="{{ product.image.url }}"
                                                                                       data-rel="magnific-popup-verticalfit">
                                                                                        <img width="800" height="800"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <a href="#" class="caroufredsel-prev"></a>
                                                                        <a href="#" class="caroufredsel-next"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="share-links">
                                                                    <div class="share-icons">
																			<span class="facebook-share">
																				<a href="#"><i
                                                                                        class="fa fa-facebook"></i></a>
																			</span>
                                                                        <span class="twitter-share">
																				<a href="#"><i
                                                                                        class="fa fa-twitter"></i></a>
																			</span>
                                                                        <span class="google-plus-share">
																				<a href="#"><i
                                                                                        class="fa fa-google-plus"></i></a>
																			</span>
                                                                        <span class="linkedin-share">
																				<a href="#"><i
                                                                                        class="fa fa-linkedin"></i></a>
																			</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="single-product-thumbnails">
                                                                <div class="caroufredsel product-thumbnails-slider"
                                                                     data-visible-min="2" data-visible-max="4"
                                                                     data-scrollduration="500" data-direction="up"
                                                                     data-responsive="0" data-circular="1"
                                                                     data-height="100%">
                                                                    <div class="caroufredsel-wrap">
                                                                        <ul class="single-product-images-slider-synchronise caroufredsel-items">
                                                                            <li class="caroufredsel-item selected">
                                                                                <div class="thumb">
                                                                                    <a href="#" data-rel="0">
                                                                                        <img width="200" height="200"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="#" data-rel="1">
                                                                                        <img width="200" height="200"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="#" data-rel="2">
                                                                                        <img width="200" height="200"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                            <li class="caroufredsel-item">
                                                                                <div class="thumb">
                                                                                    <a href="#" data-rel="3">
                                                                                        <img width="200" height="200"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-5"/>
                                                                                    </a>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 entry-summary">
                                                        <div class="summary">

                                                            <div class="commerce-product-rating">
                                                                <div class="star-rating">
                                                                    <span style="width:0%"></span>
                                                                </div>
                                                                <a href="#reviews" class="commerce-review-link">
                                                                    <span class="count">0</span> customer reviews
                                                                </a>
                                                            </div>
                                                            <h1 class="product_title entry-title">{{ product.name }}</h1>
                                                            {% for shopProduct in shop_product|slice:"1" %}
                                                                <p class="price">
                                                                    <span class="amount">{{ shopProduct.price }}&#36;</span>
                                                                </p>
                                                            {% endfor %}
                                                            <div class="product-excerpt">
                                                                {{ product.detail }}
                                                            </div>
                                                            <form class="cart">
                                                                {% for shopProduct in shop_product|slice:"1" %}
                                                                    <div class="add-to-cart-table">
                                                                        <div class="quantity">
                                                                            <input type="number" step="1" min="1"
                                                                                   name="quantity" value="1" title="Qty"
                                                                                   class="input-text qty text"
                                                                                   size="4"/>
                                                                        </div>
                                                                        <button data-product="{{ shopProduct.id }}"
                                                                                data-action="add" type="submit"
                                                                                class="button update-cart">Add to cart
                                                                        </button>
                                                                    </div>
                                                                {% endfor %}
                                                            </form>
                                                            <p><a href="#">Add to Wishlist</a></p>
                                                            <div class="clear"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="commerce-tab-container">
                                                    <div class="tabbable commerce-tabs">
                                                        <ul class="nav nav-tabs">
                                                            <li class="vc_tta-tab active">
                                                                <a data-toggle="tab" href="#tab-1">Description</a>
                                                            </li>
                                                            <li class="vc_tta-tab">
                                                                <a data-toggle="tab" href="#tab-2">Reviews</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div id="tab-1" class="tab-pane fade in active">

                                                                <p>{{ product.description }}</p>

                                                            </div>
                                                            <div id="tab-2" class="tab-pane fade">
                                                                <div id="comments" class="comments-area">
                                                                    <ol class="comments-list" id="comment_container">
                                                                        {% for comment in comments %}
                                                                            <li class="comment">
                                                                                <div class="comment-wrap">
                                                                                    <div class="comment-img">
                                                                                        {% if comment.author.image %}
                                                                                            <img alt=""
                                                                                                 src="{{ comment.author.image.url }}"
                                                                                                 class='avatar'
                                                                                                 height='80'
                                                                                                 width='80'/>
                                                                                        {% else %}
                                                                                            <img alt=""
                                                                                                 src="{% static 'images/profile/avatar.jpeg' %}"
                                                                                                 class='avatar'
                                                                                                 height='80'
                                                                                                 width='80'/>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                    <div class="comment-block">
                                                                                        <header class="comment-header">
                                                                                            <cite class="comment-author">
                                                                                                {{ comment.author.first_name }}
                                                                                            </cite>
                                                                                        </header>
                                                                                        <div class="comment-content">
                                                                                            <p>
                                                                                                {{ comment.content }}
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ol>
                                                                    <div class="comment-respond">
                                                                        <h3 class="comment-reply-title">
                                                                            <span>Leave your thought</span>
                                                                        </h3>
                                                                        <form id="comment_form">
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="comment-form-comment col-sm-12">
                                                                                    <textarea class="form-control"
                                                                                              placeholder="Comment"
                                                                                              id="comment"
                                                                                              name="comment" cols="40"
                                                                                              rows="6"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-submit">
                                                                                <input name="submit" type="submit"
                                                                                       id="submit" class="submit"
                                                                                       value="Submit"/>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="related products">
                                                    <div class="related-title">
                                                        <h3><span>Related Products</span></h3>
                                                    </div>
                                                    <ul class="products columns-4">
                                                        {% for product in related_categories %}
                                                            <li class="product">
                                                                <div class="product-container">

                                                                    <figure>
                                                                        <div class="product-wrap">
                                                                            <div class="product-images">
                                                                                <div class="shop-loop-thumbnail shop-loop-front-thumbnail">
                                                                                    <a href="{{ product.get_absolute_url }}">
                                                                                        <img width="400" height="450"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-1"/>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="shop-loop-thumbnail shop-loop-back-thumbnail">
                                                                                    <a href="{{ product.get_absolute_url }}">
                                                                                        <img width="400" height="450"
                                                                                             src="{{ product.image.url }}"
                                                                                             alt="Product-1alt"/>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="shop-loop-actions">
                                                                                <a href="#"
                                                                                   class="add_to_cart_button product_type_simple">
                                                                                    View
                                                                                </a>
                                                                                <a class="shop-loop-quickview"
                                                                                   href="{{ product.get_absolute_url }}"
                                                                                   data-original-title="Quick view">
                                                                                </a>
                                                                                <div class="yith-wcwl-add-to-wishlist">
                                                                                    <div class="yith-wcwl-add-button">
                                                                                        <a href="#"
                                                                                           class="add_to_wishlist">
                                                                                            Add to Wishlist
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>
                                                                        </div>
                                                                        <figcaption>
                                                                            <div class="shop-loop-product-info">
                                                                                <div class="info-title">
                                                                                    <h3 class="product_title">
                                                                                        <a href="{{ product.get_absolute_url }}">
                                                                                            {{ product.name }}
                                                                                        </a>
                                                                                    </h3>
                                                                                </div>
                                                                                <div class="info-meta">
                                                                                    <div class="info-price">
																						<span class="price">
																							<span class="amount">
																								{{ product.ShopProduct.all.first.price }}&#36;
																							</span>
																						</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>

                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}



{% block product_script %}
    <script>
        jQuery(document).ready(function ($) {
            document.getElementById("comment_form").addEventListener("submit", function (event) {
                event.preventDefault();
                const content = $('#comment').val()
                const data = JSON.stringify({content, product_id:{{product.id}}})
                $.ajax({
                    type: "POST",
                    url: "{% url 'comment_create' %}",
                    data: data,
                    success: function (response) {
                        const data = JSON.parse(response)
                        $("#comment_container").prepend(`<li class="comment">
                                                                                <div class="comment-wrap">
                                                                                    <div class="comment-img">
                                                                                        <img alt=""
                                                                                             src="{% static 'images/profile/avatar.jpeg' %}"
                                                                                             class='avatar' height='80'
                                                                                             width='80'/>
                                                                                    </div>
                                                                                    <div class="comment-block">
                                                                                        <header class="comment-header">
                                                                                            <cite class="comment-author">
                                                                                               ${data.first_name}
                                                                                            </cite>
                                                                                        </header>
                                                                                        <div class="comment-content">
                                                                                            <p>
                                                                                               ${data.content}
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>`);
                    }
                });
            }, false)
        });
    </script>
{% endblock %}