{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container col-12 ">

        <!--Product Details -->
        <div class="row se-co-bo col-12 m-0 p-0 border border-white rounded">
            <div class="row col-12 m-2 pl-0">
                <!-- Product Gallery-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4  pl-2 ">
                    <div class="col-12">
                        <fieldset id="f11" class="active">
                            <div class="product-pic"><img class="pic0" src="image/body/dandelion-back3.jpg"></div>
                        </fieldset>
                        <fieldset id="f21" class="">
                            <div class="product-pic"><img class="pic0" src="https://i.imgur.com/3NusNP2.jpg"></div>
                        </fieldset>
                        <fieldset id="f31" class="">
                            <div class="product-pic"><img class="pic0" src="https://i.imgur.com/pXUPOVR.jpg"></div>
                        </fieldset>
                        <fieldset id="f41" class="">
                            <div class="product-pic"><img class="pic0" src="https://i.imgur.com/xX5Qmsa.jpg"></div>
                        </fieldset>
                        <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11 thumbnails ">
                            <div id="f1" class="tb tb-active"><img class="thumbnail-img fit-image"
                                                                   src="image/body/dandelion-back3.jpg"></div>
                            <div id="f2" class="tb"><img class="thumbnail-img fit-image"
                                                         src="https://i.imgur.com/3NusNP2.jpg">
                            </div>
                            <div id="f3" class="tb"><img class="thumbnail-img fit-image"
                                                         src="https://i.imgur.com/pXUPOVR.jpg">
                            </div>
                            <div id="f4" class="tb"><img class="thumbnail-img fit-image"
                                                         src="https://i.imgur.com/xX5Qmsa.jpg">
                            </div>

                        </div>

                    </div>
                </div>
                <!-- Product Title and it's Category and some detail-->
                <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                    <div class="col-12 pt-3">
                        عنوان:
                    </div>
                    <hr class="pb-2">

                    <div class="col-12 ">
                        دسته بندی:

                    </div>

                    <hr class="pb-2">
                    <div class=" col-12 pl-0 ">
                        <div class="col-12">
                            انتخاب رنگ:
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary">قرمز</button>
                                <button type="button" class="btn btn-outline-primary">زرد</button>
                                <button type="button" class="btn btn-outline-primary">آبی</button>
                            </div>
                        </div>

                        <div class="col-12 mt-4 mb-4">
                            انتخاب سایز:
                        </div>
                    </div>
                    <hr class="pb-2">
                    <div class="col-12 ">
                        ویژگی کالا:

                    </div>
                </div>
                <!-- Product price and shop name-->
                <div class=" col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
                    <div class="col-12 pt-1">
                        <div class="col-12 se-co-bo-bot height-size pt-3 mx-auto rounded">
                            فروشنده:
                        </div>
                        <div class="col-12 se-co-bo-bot height-size pt-3 mx-auto rounded">

                            گارانتی اصالت و سلامت فیزیکی کالا

                        </div>
                        <div class="col-12 se-co-bo-bot rounded">
                            <div class="row col-12 justify-content-center pt-4 mx-auto">
                                قیمت:
                            </div>
                            <div class="row col-12 justify-content-center pt-4 mb-3 mx-auto">
                                <button type="button" class="btn btn-primary btn-lg btn-block">افزودن به سبد خرید
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Related Shop to current product-->
        <div class="row  col-12 border border-white rounded  m-0 mt-5 p-0">
            <div class="row col-12  rounded se-co-bo m-0 p-3">
                <div class="row  col-4 pt-2 mx-auto">فروشنده:</div>
                <div class="row col-4 justify-content-center pt-2 mx-auto">قیمت:</div>
                <div class="row col-4 justify-content-center mx-auto">
                    <button type="button" class="btn btn-info btn-lg btn-block">افزودن به سبد خرید</button>
                </div>
            </div>
            <div class="row col-12   rounded se-co-bo  m-0 p-3">
                <div class="row col-4 pt-2 mx-auto">فروشنده:</div>
                <div class="row col-4 justify-content-center pt-2 mx-auto">قیمت:</div>
                <div class="row col-4 justify-content-center mx-auto">
                    <button type="button" class="btn btn-info btn-lg btn-block">افزودن به سبد خرید</button>
                </div>
            </div>
        </div>

        <!--Related Product to current product-->
        <div class="row  col-12 border border-white rounded  m-0 mt-5 p-0">
            <div class="row col-12  rounded se-co-bo border-bottom m-0 p-3">
                محصولات مرتبط
            </div>

            <div class="row col-12  rounded se-co-bo m-0 p-3">
                <div class="row col-3  mx-auto   ">
                    <div class="row col-12 m-0 justify-content-center  "><img src="image/body/dandelion-back3.jpg"
                                                                              alt="">
                    </div>
                    <div class="row col-12 m-0 justify-content-center mt-3">Title</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">price:</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">
                        <button type="button" class="btn btn-secondary btn-sm">افزودن به سبد</button>
                    </div>
                </div>
                <div class="row col-3 mx-auto ">
                    <div class="row m-0 justify-content-center  col-12"><img src="image/body/dandelion-back3.jpg"
                                                                             alt="">
                    </div>
                    <div class="row col-12 m-0 justify-content-center mt-3">Title</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">price:</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">
                        <button type="button" class="btn btn-secondary btn-sm">افزودن به سبد</button>
                    </div>
                </div>
                <div class="row col-3 mx-auto ">
                    <div class="row m-0 justify-content-center  col-12"><img src="image/body/dandelion-back3.jpg"
                                                                             alt="">
                    </div>
                    <div class="row col-12 m-0 justify-content-center mt-3">Title</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">price:</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">
                        <button type="button" class="btn btn-secondary btn-sm">افزودن به سبد</button>
                    </div>
                </div>
                <div class="row col-3 mx-auto ">
                    <div class="row m-0 justify-content-center  col-12"><img src="image/body/dandelion-back3.jpg"
                                                                             alt="">
                    </div>
                    <div class="row col-12 m-0 justify-content-center mt-3">Title</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">price:</div>
                    <div class="row col-12 m-0 justify-content-center mt-3">
                        <button type="button" class="btn btn-secondary btn-sm">افزودن به سبد</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Description -->
        <div class="row  col-12 border border-white rounded  m-0 mt-5 p-0">
            <div class="row col-12  rounded se-co-bo border-bottom m-0 p-3">توضیحات</div>
            <div class="row col-12  rounded se-co-bo border-bottom m-0 p-3 description-height"></div>
        </div>

        <!-- Product Comment-->
        <div class="row  col-12 border border-white rounded  m-0 mt-5 p-0">
            <div class="row col-12  rounded se-co-bo border-bottom m-0 p-3">نظرها</div>
            <div class="row col-12  rounded se-co-bo border-bottom m-0 p-3 comment-height">
                <div class="row col-2  rounded se-co-bo border-bottom m-0 p-3">name</div>
                <div class="row col-10  rounded se-co-bo border-bottom m-0 p-3">content</div>
            </div>
        </div>
    </div>
{% endblock %}