{% load static %}
<!--start header-->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">

        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand" href="https://www.vecteezy.com/free-vector/dandelion">
                <img src="{% static 'image/icon/16012019-32.svg' %}" alt="Dandelion">
            </a>
            <div class="icon-search">
                <i class="fa fa-search" aria-hidden="trues"></i>
            </div>
            <div class="search-form">
                <form action="">
                    <input type="search" placeholder="Search here">
                </form>
            </div>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse " id="basicExampleNav">

                <!-- Right -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-auto">
                        <a href="#!" class="nav-link navbar-link-2 waves-effect">
                            <span class="badge badge-pill red">1</span>
                            <i class="fas fa-shopping-cart pl-0"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown mx-auto">
                        <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            <i class="united kingdom flag m-0"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!">Another action</a>
                            <a class="dropdown-item" href="#!">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#!" class="nav-link waves-effect">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#!" class="nav-link waves-effect">
                            Services
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#!" class="nav-link waves-effect">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a href="#!" class="nav-link waves-effect">
                            About
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-link waves-effect">
                                Sign in
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item pl-2 mb-2 mb-md-0 mx-auto">
                        <a href="{% url 'register' %}" type="button"
                           class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign
                            up</a>
                    </li>

                </ul>

            </div>
            <!-- Links -->
        </div>
    </nav>
    <!-- Navbar -->

    <div class="jumbotron mt-70 h-jump">
        <div class="d-flex align-items-center h-100 headline">
            <div class="container text-center py-5 inner">
                <h1 class="mb-3">Shop Custom Page</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt justo non massa
                    porta molestie.</p>
            </div>
        </div>
    </div>
</header>
<!--end header-->


