{% load static %}
<!--start header-->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">

        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand" href="https://www.vecteezy.com/free-vector/dandelion">
                <img src="{% static 'image/icon/16012019-32.svg' %}" alt="Dandelion">
            </a>

            <div class="icon-search ml-2 mr-3">
                <i class="fa fa-search" aria-hidden="trues"></i>
            </div>
            <div class="search-form" style="direction: ltr">
                <form action="{% url 'search_results' %}" method="get">
                    <input name="q" type="search" placeholder="Search here..." style="padding-top: 30px">
                </form>
            </div>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Right -->
                <ul class="row navbar-nav  pl-0" style="width: 100%;">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item mr-0 pl-0" style="width: auto">
                            <a href="{% url 'cart' %}" class="nav-link navbar-link-2 waves-effect">
                                <span class="badge badge-pill red">{{ total_items.count__sum }}</span>
                                <i class="fas fa-shopping-cart pl-0"></i>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown  pl-3 ml-5" style="width: auto;margin-left: 200px">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="true "
                               style="width: auto">{{ request.user.first_name }} {{ request.user.last_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link " href="{% url 'profile' request.user.id %}">Profile</a>
                                <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                            </div>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-link waves-effect">Sign in</a>
                            <li class="nav-item pl-2 mb-2 mb-md-0 mx-auto">
                                <a href="{% url 'register' %}" type="button"
                                   class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign
                                    up</a>
                            </li>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown  pl-3 ml-5">
                    <li class="nav-item  ml-0 mr-5 " style="right: 0">
                        <a href="#!" class="nav-link waves-effect">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item mr-0">
                        <a href="#!" class="nav-link waves-effect">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item mr-0">
                        <a href="#!" class="nav-link waves-effect">
                            About
                        </a>
                    </li>
                    <li class="nav-item mr-0">
                        <a href="{% url 'homeView' %}" class="nav-link waves-effect">
                            Home
                        </a>
                    </li>
                    </li>


                </ul>

            </div>
            <!-- Links -->
        </div>
    </nav>
    <!-- Navbar -->

    <div class="jumbotron mt-70 h-jump">
        <div class="d-flex align-items-center h-100 headline">
            <div class="container text-center py-5 inner">
                <h1 class="mb-3">Shop Custom Page</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt justo non massa
                    porta molestie.</p>
            </div>
        </div>
    </div>
</header>
<!--end header-->


